/* ================ Сбросс стилей ================ */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* ================ Общие стили ================ */

html,
body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

.title {
  color: #363940;
  font-size: 32px;
  font-weight: 500;
  line-height: 43px;
}

.text {
  color: #95a1bb;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

/* ================ Стили для Хедера ================ */

.header {
  background-color: #0a61f7;
  padding: 14px 0;
}

.menu-link {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

/* ================ Стили для 1-й секции ================ */

.main-title {
  color: #363940;
  font-size: 58px;
  font-weight: 500;
  line-height: 68px;
  margin-bottom: 30px;
}

.main .text {
  margin-bottom: 40px;
}

.button {
  width: 152px;
  height: 51px;
  border-radius: 4px;
  background: #0a61f7;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

/* ================ Стили для 2-й секции ================ */

.rates-section {
  background-color: #f9fafc;
  padding: 100px 0;
}

.rates-section .title {
  margin-bottom: 20px;
}

.rates-section .text {
  margin-bottom: 40px;
}

.table {
  border-collapse: collapse;
}

th,
td {
  /* Стилизуем по названию тега */
  border: 1px solid #95a1bb;
  width: 240px;
  padding: 15px 0;
  text-align: center;
}

.table-title {
  color: #363940;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.table-subtitle {
  color: #363940;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  padding-left: 20px;
}

.table-subtitle.gray {
  color: #95a1bb; /* стиль применится, если у элемента будут эти оба класса */
}

.table-link {
  color: #0a61f7;
}

.table-button {
  width: 140px;
  padding: 8px 0;
  border-radius: 4px;
  border: 1px solid #0a61f7;
  font-size: 12px;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #0a61f7;
}
.table-button.active {
  /* эти свойства применятся, если у кнопки будут оба класса */
  background: #0a61f7;
  color: #fff;
}
.table-footer td {
  padding: 30px 0;
}

footer {
  background: #0a61f7;
}
.text-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  color: #fff;
}
